# Git
.git
.gitignore
.gitattributes

# Documentation
*.md
README.md

# Visual Studio
.vs/
.vscode/

# Build results
**/bin/
**/obj/
**/out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Files built by Visual Studio
*.pidb
*.svclog
*.scc

# NuGet
packages/
*.nupkg
*.snupkg

# Docker
Dockerfile*
.dockerignore

# Others
*.cache
*.log
*.tmp 