# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Logs
*.log

# NuGet
*.nupkg
packages/

# Rider
.idea/

# User-specific files
*.rsuser
*.sln.ide

# Others
*.dbmdl

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# JetBrains Rider
.idea/

# Ignore publish output
publish/

# DotEnv files
.env

*.db

*.db-shm
*.db-wal

*.pack
*.gz
*.db-journal
*.db-lock
*.db-trace
*.db-trace.lock
*.db-trace.lock.lock
*.db-trace.lock.lock.lock
*.db-trace.lock.lock.lock.lock


*.pyc
*.pyd
venv/
.venv/


